@import "css/reset.css";
@import "css/fonts.css";
@import "css/variables.css";
@import "css/tags.css";
@import "css/classes.css";

.home-main {
    background-color: var(--primary);
    background-image: linear-gradient(
            0deg,
            var(--primary-transparent),
            var(--primary-transparent)
        ),
        image-set("cover.webp");
    /* url("cover.webp"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* animation */
    animation: fade-in 3000ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
}

.home-special-text {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 8;
    color: var(--secondary);
}

.home-p1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    color: var(--secondary);
}

.home-p2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 8;
    color: var(--secondary);
}

.home-p3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    color: var(--secondary);
}