@import "css/reset.css";
@import "css/fonts.css";
@import "css/variables.css";
@import "css/tags.css";
@import "css/classes.css";

.products-grid {
    height: calc(100% - 48px);
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products-grid-item {
    background-color: var(--primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
    display: flex;
    align-items: end;
    justify-content: end;
    color: var(--secondary);

    /* animation */
    will-change: transform;
    transition-duration: 300ms;
}

.products-grid-item:hover {
    transform: scale(0.9);
}

@media (max-width: 580px) {
    .products-grid {
        grid-template-columns: 1fr;
    }

    .products-grid-item {
        height: 145px;
    }
}
